<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <form action="/department" method="POST" style="display: none;" id="department_form"> 
            <a href="http://localhost:3000/" style="margin-left: -20%;" class="btn btn-primary btn-lg">HOME</a>
            <div id="top" style="border: 5px solid black; margin-left: 20%; margin-right: 20%; margin-top: 2%;">
                <label style="margin: 10px; font-weight: bolder; font-size: large;">Department Name</label><input class="" type="text" name="deptName" id="deptName" placeholder="" value="">
               <br><label  style="margin: 10px; font-weight: bolder; font-size: large;">Department code</label><input class="" type="text" name="deptCode" id="deptCode" placeholder="" value="">
                <br><label style="margin: 10px; padding-left: -80px; font-weight: bolder; font-size: large;">Details</label><input class="" style="margin-left:70px;" type="text" name="details" id="details"  placeholder="" value="" > 
                
    
                <br><button type="submit"  class ="btn btn-primary" id="deptAdd" value="ADD">ADD</button> 
                <button type="button"  class ="btn btn-success" id="buttondept" style="display: none;" value="">updatedept</button> 
            </div>
         </form>
         <div id="list">
            <a href="/" class="btn btn-primary btn-lg" style="margin-left: 45%; margin-top: 20px;">HOME  </a>
                <div class="row" style="margin-top: 100px;">
                    <table class="table-bordered table-dark table-hover table">
                        <thead>
                            <th>
                                Department Name
                            </th>
                            <th>
                                Department Code
                            </th>
                            <th>
                                Details
                            </th>
                        
                        </thead>
                    
                    <% for (var i = 0; i < department.length; i++) { %>
                                    <tr>
                                    <td><%= department[i].deptName %></td>
                                    <td><%= department[i].deptCode %></td>
                                    <td><%= department[i].details %></td>
                                    <td><button onclick="editdept()" id="<%= department[i]._id %>" class="btn btn-success">Edit</button></td>
                                    <td><button onclick="deleteDept()" id="<%= department[i]._id %>" class="btn btn-danger">Delete</button></td>
                                    </tr>
                    <% } %>
                </table>
                </div>
                    <% if (pages > 0) { %>
                        <ul class="pagination text-center">
                            <% if (current == 1) { %>
                                <li class="disabled"><a>First</a></li>
                            <% } else { %>
                                <li><a href="/department/1">First</a></li>
                            <% } %>
                            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                            <% if (i !== 1) { %>
                                <li class="disabled"><a>...</a></li>
                            <% } %>
                            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                                <% if (i == current) { %>
                                    <li class="active"><a><%= i %></a></li>
                                <% } else { %>
                                    <li><a href="/department/<%= i %>"><%= i %></a></li>
                                <% } %>
                                <% if (i == Number(current) + 4 && i < pages) { %>
                                    <li class="disabled"><a>...</a></li>
                                <% } %>
                            <% } %>
                            <% if (current == pages) { %>
                                <li class="disabled"><a>Last</a></li>
                            <% } else { %>
                                <li><a href="/department/<%= pages %>">Last</a></li>
                            <% } %>
                        </ul>
                    <% } %> 
            </div>
        </div> 
   
     
        <form style="margin-top: -60px;">
            <span style="margin-left: 45%;"> 
                <input type="text" id="searchingText" >  
                <button type="button" class="btn btn-primary btn-lg" onclick="searchtext()" >Search  </button>
                <a href="http://localhost:3000/depart/1" class="btn btn-danger btn-lg"  >Back  </a>
            </span>
        
        </form>
    
</body>
<script>
    const editdept = async() => {
        let ID=event.target.id;
        document.getElementById("department_form").action = "/depertment/"+ID;
    // document.getElementById("department_form").method = "";
         document.getElementById("department_form").style.display = "";
         document.getElementById("list").style.display="none";
         document.getElementById("buttondept").style.display = "";
         document.getElementById("deptAdd").style.display = "none";
         document.getElementById("buttondept").setAttribute("id",ID);
        // alert("hello");
        const data = await fetch("/department/"+ ID);
    //  console.log(data.empName);
        const dept = await data.json();
        dept.forEach(dept => {
        document.getElementById("deptName").value=dept.deptName;
        document.getElementById("deptCode").value=dept.deptCode;
        document.getElementById("details").value=dept.details;
        
        console.log(dept.deptName);
    });
   
    }

    document.getElementById("buttondept").addEventListener('click', () => {
        let ID=event.target.id;
        console.log(ID);
        window.location.href = "http://localhost:3000";
        let deptName = document.getElementById("deptName").value;
        let deptCode = document.getElementById("deptCode").value;
        let details = document.getElementById("details").value;


        fetch("/department/" + ID, {
        method: 'PUT',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({
            deptName: deptName,
            deptCode: deptCode,
            details: details
            
        })
    })
    location.reload();

}) 
const deleteDept = async() => {
    
    let ID=event.target.id;
    window.location.href = "http://localhost:3000";
    console.log("department deleted");
    const result = await fetch("http://localhost:3000/department/" + ID, {
         method: "DELETE",
         headers: {
             'Content-Type': 'application/json'
        },
        
    });
    location.reload();
    
}
let searchtext = async()  => {
        let searchText = document.getElementById("searchingText").value;
        await fetch("http://localhost:3000/depart/1/searchDepartment/"+ searchText);
    }
</script>
</html>